.parent {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(9, 6, 6);
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 5;
}

.child {
	display: flex;
	width: 10em;
	height: 10em;
	border: 3px solid transparent;
	border-top-color: #3cefff;
	border-bottom-color: #3cefff;
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
}

.child:before {
	content: "";
	display: block;
	margin: auto;
	width: 0.75em;
	height: 0.75em;
	border: 3px solid #3cefff;
	border-radius: 50%;
	animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
